<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="img/logo.png">
    <title><%= @title %></title>
    <link rel="stylesheet" href="Css/Look.css">
</head>
<body>
     <%= yield %>
</body>