<div class="container">
    <header><h1>Gamling Rehab</h1></header>

    <footer><p>© 2018 Gamling Rehab, AB.</p></footer>

    <input type="search" placeholder="Mottagningar" id="mySearch"  aria-label="searchbar" 
    maxlength="20">

    <button onclick="myFunction()" aria-label="Search button">Search</button>

    <div class="Results"></div>

    <div class="Karta"></div>

    <div class="Adleft"></div>

    <div class="Adright"></div>


</div>
